{% extends 'base.html' %}
{% load cache %}

{% block meta %} National football teams statistics {% endblock %}
{% block title %} National football teams statistics {% endblock %}

{% block header %}
    <h1 class="m-0 align-middle text-white fw-bold" style="font-size: 8em">
        404
    </h1>
{% endblock %}

{% block body %}
    <div class="col-md-7 text-center m-auto">
        <div class="mt-5 display-4 fw-normal" style="color: #4279A8">
            Not Found
        </div>
    </div>
{% endblock %}