{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8">
        <meta name="description" content="FIFA Ranking. FIFA Men's World Ranking. Updated Daily. LIVE. National Teams Games, Statistics, Fixtures">
        <meta name="author" content="Komronbek Obloev">
        <meta name="google-adsense-account" content="ca-pub-3773738661865234">
	<meta name="theme-color" content="rgba(40, 48, 52)">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-B6FF5XHP5P"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'G-B6FF5XHP5P');
        </script>

        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{% block og_title %} {% endblock %}">
        <meta property="og:description" content="{% block og_meta %}{% endblock %}">
        <meta property="og:url" content="{{ request.build_absolute_uri }}">
        <meta property="og:image" content="https://ok7-rankings-91ee2cd70e74.herokuapp.com{% static 'favicon.ico' %}" />
        <meta property="og:site name" content="ok7Rankings">
        <meta name="google-site-verification" content="oszuVy8pT3InUjE8i7pjFDT6wDmNFwnStLF_zdKyzag" />

	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

        <title>{% block title %} {% endblock %}</title>

	    <link href="{% static 'main.css' %}" rel="stylesheet">
        <link rel="canonical" href="{{ request.build_absolute_uri }}" />
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" >
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link href="{% static 'main.css' %}" rel="stylesheet">
        <script type="application/ld+json">
            {
                "@type" : "WebSite",
                "name" : "FIFA Ranking LIVE - ok7Rankings",
                "url" : "https://ok7-rankings-91ee2cd70e74.herokuapp.com/"
            }
        </script>
    </head>

    <body class="text-center bg-white">
        <nav class="nav fixed-top px-3 py-2 ps-4 ps-lg-5 bg-warning" style="box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); backdrop-filter: blur(15px);">
            <div class="row w-100">
                <div class="col-auto py-2 d-flex fs-3 align-middle" style="line-height: 1.05; align-items: center">
                    <span class="fw-bold">ok7</span>Rankings
                </div>
                <div class="col text-end pe-0">
                    <div class="align-middle d-none d-lg-block" style="margin-top: 0.8em; font-size: 0.9em">
                        {% url 'home' as rank_url %}
                        {% url 'matches' as matches_url %}
                        {% url 'fixtures' as fixtures_url %}
                        {% url 'stats' as stats_url %}
                        {% url 'calculator' as calculator_url %}

                        <a href="{{ rank_url }}" class="fw-normal px-3 text-white text-decoration-none align-middle">RANK</a>
                        <svg class="align-center" xmlns="http://www.w3.org/2000/svg" height="3" width="3" viewBox="0 0 512 512">
                            <path fill="#CCC" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"></path>
                        </svg>
                        <a href="{{ matches_url }}" class=" px-3 text-white text-decoration-none align-middle">MATCHES</a>
                        <svg class="align-center" xmlns="http://www.w3.org/2000/svg" height="3" width="3" viewBox="0 0 512 512">
                            <path fill="#CCC" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"></path>
                        </svg>
                        <a href="{{ fixtures_url }}" class=" px-3 text-white text-decoration-none align-middle">FIXTURES</a>
                        <svg class="align-center" xmlns="http://www.w3.org/2000/svg" height="3" width="3" viewBox="0 0 512 512">
                            <path fill="#CCC" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"></path>
                        </svg>
                        <a href="{{ stats_url }}" class=" px-3 text-white text-decoration-none text-dark align-middle">STATS</a>
                        <svg class="align-center" xmlns="http://www.w3.org/2000/svg" height="3" width="3" viewBox="0 0 512 512">
                            <path fill="#CCC" d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"></path>
                        </svg>
                        <a href="{{ calculator_url }}" class="px-3 text-white text-decoration-none align-middle">CALCULATOR</a>
                    </div>
                    <div style="margin-top: 0.15em" class="d-lg-none d-block">
                        <button class="btn fs-3 p-0 px-2 align-middle" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-label="Menu Button">
                            <svg class="align-middle" xmlns="http://www.w3.org/2000/svg" height="25" width="23" viewBox="0 0 448 512">
                                <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="offcanvas d-block offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" style="background: #005B99">
                        <div class="offcanvas-header">
                            <p class="offcanvas-title" id="offcanvasTopLabel"></p>
                            <button type="button" class="btn-close bg-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body text-start">
                            <a href="{{ rank_url }}" class="d-block fs-5 {% if request.path != rank_url %} text-opacity-75 {% endif %} text-white text-decoration-none align-middle">Home</a><hr>
                            <a href="{{ matches_url }}" class="d-block fs-5 {% if request.path != matches_url %} text-opacity-75 {% endif %} text-white text-decoration-none align-middle">Matches</a><hr>
                            <a href="{{ fixtures_url }}" class="d-block fs-5 {% if request.path != fixtures_url %} text-opacity-75 {% endif %} text-white text-decoration-none align-middle">Fixtures</a><hr>
                            <a href="{{ stats_url }}" class="d-block fs-5 {% if request.path != stats_url %} text-opacity-75 {% endif %} text-white text-decoration-none align-middle">Statistics</a><hr>
                            <a href="{{ calculator_url }}" class="d-block fs-5 {% if request.path != calculator_url %} text-opacity-75 {% endif %} text-white text-decoration-none align-middle">Calculator</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="pt-5 px-3">
            <div style="margin-top: 3em;">
                {% block header %}{% endblock %}
            </div>
	<hr>
        </div>

        <div class="container p-0">
            {% block body %} {% endblock %}
        </div>

        <div class="text-center mb-0 mb-0 py-lg-4 py-3" style="font-size: 0.9em; margin-top: 10rem; background: #4279A8;">
            <b>LIVE</b> FIFA Men's World Ranking
            <br><a class="text-white" href="{% url 'privacy' %}">Privacy</a>
            <a class="text-white ms-3" href="{% url 'about' %}">About</a>
	    <br>
            <a href="mailto:ok7rankings@gmail.com" class="text-white text-decoration-none">
               ok7rankings@gmail.com
            </a>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
                crossorigin="anonymous"></script>
    </body>
</html>