{% extends 'base.html' %}
{% load cal %}

{% block og_meta %} FIFA Points Calculator. Calculate points changes FIFA matches {% endblock %}
{% block og_title %}FIFA Points Calculator. Calculate points changes FIFA matches {% endblock %}

{% block meta %} FIFA Points Calculator. Calculate points changes FIFA matches {% endblock %}
{% block title %}FIFA Points Calculator. Calculate points changes FIFA matches {% endblock %}

{% block header %}
    <h1 class="m-0 align-middle display-6 fw-semibold">
        CALCULATOR
    </h1>
    <h2 class="fs-6">Teams Points Changes Calculator</h2>
{% endblock %}

{% block body %}
    <div class="col-md-6 text-center m-auto">
        {% if not matches %}
            	<div class="mt-5 py-1 bg-secondary bg-opacity-25 text-black py-2 " style="font-size: 1.1em; border-radius: 4px;">
			NO MATCHES
		</div>
        {% endif %}
		
		{% regroup matches by date as date_list %}
        {% for date in date_list %}
            {% regroup date.list by tournament as tour_list %}
            {% for tour in tour_list %}
			
                <div class="p-0 text-white" style="margin-top: 12px">
                       		<div style="padding: 2px 0; background: #4279A8; font-size: 14px;">{{ tour.grouper }}</div>
			</div>

                {% for match in tour.list %}
				<table class="table table-striped small table-bordered border-white my-2">
					<tr>
						<td rowspan=2 class="fw-semibold py-0 align-middle small">{{ date.grouper|date:"d.m" }}</td>
						<td class="p-0"><img class="border" style="margin: 0;" src="{{ match.team1.flag }}" height="22"></td>
						<td class="text-start py-0 align-middle w-100" >{{ match.team1.name|truncatechars:20 }}</td>
						{% calc match 1 1 0 as point %}
						{% if point > 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #418500D0"><span class="d-block" style="width: 47px">+{{ point }}</span></td>
						{% elif point < 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #D04343"><span class="d-block" style="width: 47px">{{ point }}</span></td>
						{% else %}
							<td class="p-0 small align-middle border-2"><span class="d-block" style="width: 47px">0.00</span></td>
						{% endif %}
						{% calc match 1 1 1 as point %}
						{% if point > 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #418500D0"><span class="d-block" style="width: 47px">+{{ point }}</span></td>
						{% elif point < 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #D04343"><span class="d-block" style="width: 47px">{{ point }}</span></td>
						{% else %}
							<td class="p-0 small align-middle border-2"><span class="d-block" style="width: 47px">0.00</span></td>
						{% endif %}
						{% calc match 1 0 1 as point %}
						{% if point > 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #418500D0"><span class="d-block" style="width: 47px">+{{ point }}</span></td>
						{% elif point < 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #D04343"><span class="d-block" style="width: 47px">{{ point }}</span></td>
						{% else %}
							<td class="p-0 small align-middle border-2"><span class="d-block" style="width: 47px">0.00</span></td>
						{% endif %}
					</tr>
					<tr>
						<td class="p-0"><img class="border" style="margin: 0;" src="{{ match.team2.flag }}" height="22"></td>
						<td class="text-start py-0 align-middle w-100" >{{ match.team2.name|truncatechars:18 }}</td>
						{% calc match 2 0 1 as point %}
						{% if point > 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #418500D0"><span class="d-block" style="width: 47px">+{{ point }}</span></td>
						{% elif point < 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #D04343"><span class="d-block" style="width: 47px">{{ point }}</span></td>
						{% else %}
							<td class="p-0 small align-middle border-2"><span class="d-block" style="width: 47px">0.00</span></td>
						{% endif %}
						{% calc match 2 1 1 as point %}
						{% if point > 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #418500D0"><span class="d-block" style="width: 47px">+{{ point }}</span></td>
						{% elif point < 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #D04343"><span class="d-block" style="width: 47px">{{ point }}</span></td>
						{% else %}
							<td class="p-0 small align-middle border-2"><span class="d-block" style="width: 47px">0.00</span></td>
						{% endif %}
						{% calc match 2 1 0 as point %}
						{% if point > 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #418500D0"><span class="d-block" style="width: 47px">+{{ point }}</span></td>
						{% elif point < 0%}
							<td class="text-white p-0 small align-middle border-2" style="background: #D04343"><span class="d-block" style="width: 47px">{{ point }}</span></td>
						{% else %}
							<td class="p-0 small align-middle border-2"><span class="d-block" style="width: 47px">0.00</span></td>
						{% endif %}
					</tr>
				</table>

                {%  endfor %}
            {% endfor %}
        {% endfor %}

    </div>
{% endblock %}
