{% extends 'base.html' %}

{% block og_canonical %}{% url 'matches' %}{% endblock %}
{% block og_meta %} FIFA Matches and teams' points {% endblock %}
{% block og_title %} FIFA Matches and teams' points {% endblock %}

{% block canonical %}{% url 'matches' %}{% endblock %}
{% block meta %} FIFA Matches and teams' points {% endblock %}
{% block title %} FIFA Matches and teams' points {% endblock %}

{% block header %}
    <h1 class="m-0 align-middle display-6" style="font-weight: 500">
        MATCHES
    </h1>
    <h2 class="fs-6 ">International FIFA National Football Teams Matches</h2>
{% endblock %}

{% block body %}
    <div class="text-center col-md-6 m-auto">
        {% if not matches %}
            <div class="mt-5 py-1 bg-secondary bg-opacity-25 text-black py-2 " style="font-size: 1.1em; border-radius: 2px;">
NO MATCHES
                </div>
        {% endif %}
  
         <p class="fw-normal py-2">
            {% if paginator.num_pages > 1 %}
                {% for i in paginator.page_range %}
                    {% if i > 1 %}
                        <a class="px-1 btn text-decoration-none py-1 text-center" href="{% url 'matches' %}?page={{ i }}" style="width: 30px; {% if request.GET.page == i|slugify or 'page' not in request.GET and i == 1 %} background: #4279A8; color: white; {% else %} background: #DDD; color: black; {% endif %} border-radius: 4px; font-size: 0.9em; line-height: 1.1">{{ i }}</a>
                    {% else %}
                        <a class="px-1 btn text-decoration-none py-1 text-center" href="{% url 'matches' %}" style="width: 30px; {% if request.GET.page == i|slugify or 'page' not in request.GET and i == 1 %} background: #4279A8; color: white; {% else %} background: #DDD; color: black; {% endif %} border-radius: 4px; font-size: 0.9em; line-height: 1.1">{{ i }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </p>
        {% regroup matches by date as date_list %}
        {% for date in date_list %}
            
            {% regroup date.list by tournament as tour_list %}
             
            {% for tour in tour_list %}
			<table class="table table-striped small table-bordered border-white">
                       		<tr>
								<td colspan=7 style="line-height: 1"><span class="fw-semibold">{{ tour.grouper }}</span><br>{{ date.grouper }}</td>
							</tr>

                {% for match in tour.list %}
				<tr>
					<td class="p-0" style="width: 29.333px"><img src="{{ match.team1.flag }}" height="22"></td>
					<td class="py-0 align-middle col text-start">{{ match.team1.short_name|upper }}</td>
					{% if match.points1_change > 0%}
						<td class="text-white py-0 small align-middle px-1" style="background: #008100C0; width: 47px;">+{{ match.points1_change }}</td>
					{% elif match.points1_change < 0%}
						<td class="text-white py-0 small align-middle px-1" style="background: #DF0000D0; width: 47px;">{{ match.points1_change }}</td>
					{% else %}
						<td class="py-0 align-middle" style="width: 47px;">-</td>
					{% endif %}
					<td class="py-0 bg-warning text-nowrap px-2 align-middle" style="width: 65px;">{% if match.is_penalty %}<sup>{{ match.goal1_pen }}</sup>{% endif %} {{ match.goal1 }} - {{ match.goal2 }} {% if match.is_penalty %}<sup>{{ match.goal2_pen }}</sup>{% endif %}</td>
					{% if match.points2_change > 0%}
						<td class="text-white py-0 small align-middle px-1" style="background: #008100C0; width: 47px;">+{{ match.points2_change }}</td>
					{% elif match.points2_change < 0%}
						<td class="text-white py-0 small align-middle px-1" style="background: #DF0000D0; width: 47px;">{{ match.points2_change }}</td>
					{% else %}
						<td class="py-0" style="width: 47px;">-</td>
					{% endif %}
					<td class="py-0 col text-end align-middle">{{ match.team2.short_name|upper }}</td>
					<td class="p-0" style="width: 29.333px"><img src="{{ match.team2.flag }}" height="22"></td>
				</tr>
                 
                {%  endfor %}
			</table>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}