{% extends 'base.html' %}
{% load cal %}

{% block og_meta %} FIFA Points Calculator. Calculate points changes FIFA matches {% endblock %}
{% block og_title %} Privacy policy - ok7Rankings {% endblock %}

{% block title %} Privacy policy - ok7Rankings {% endblock %}

{% block header %}
    <h1 class="m-0 align-middle text-white display-6 fw-semibold">
        Privacy policy
    </h1>
{% endblock %}

{% block body %}
    <div class="col-md-6 m-auto" style="text-align: justify">
Our website (<span class="text-primary">https://ok7-rankings-91ee2cd70e74.herokuapp.com</span>) does not collect personal information directly. We are integrating with some online ad systems for advertising purpose.
<ul>
<li>We use User Information to select and deliver advertising that appears on our website, and to allow third-parties (such as online ad systems) to do this on our behalf.
<li>We use User Information to select and deliver advertising to users based on the way the user has interacted with our website, and to share that information with third-parties to allow them to do so.
<li>We may pass User Information to service providers, such as Google, to allow them to provide services on our behalf or to partner with us in selecting and serving ads for our advertising partners.
</ul>
<h2 class="mt-4">Cookies</h2>
All personal information are employ in connection with advertising, is obtained via the use of cookies.
<ul>
<li>Analytics cookies: we may use third party analytics services such as Google Analytics and others. Your IP address and other information will be collected by automated means to evaluate your use of the website, compile reports on website activity, identify user patterns and provide related services. For more information about how Google Analytics uses your information please click here. In addition, authentication and tracking logs will be used to compile user statistics.
<li?Targeting/advertising: These cookies help us serving of relevant advertisements and implement frequency capping procedures.
</ul>
    </div>
{% endblock %}
