{% extends 'base.html' %}


{% block og_canonical %}{% url 'stats' %}{% endblock %}
{% block og_meta %} FIFA National football teams statistics after games {% endblock %}
{% block og_title %} FIFA National football teams statistics {% endblock %}

{% block canonical %}{% url 'stats' %}{% endblock %}
{% block meta %} FIFA National football teams statistics after games {% endblock %}
{% block title %} FIFA National football teams statistics {% endblock %}

{% block header %}
    <h1 class="m-0 align-middle display-6" style="font-weight: 500">
        STATISTICS
    </h1>
    <h2 class="fs-6">Statistics about ranking changes after matches</h2>
{% endblock %}

{% block body %}
<div class="col-md-6 text-center m-auto">
<div class="p-0 pe-1 mb-1 fw-semibold">
	<div style="font-size: 16px;">TOP 10 BEST MOVERS</div><hr class="my-1 mb-2">
</div>
<table class="table bg-light table-striped small table-bordered border-white">
	{% for team in best_teams %}
	<tr class="bg-secondary-subtle">
		{% if team.rank_change < 0%}
			<td class="text-white py-0 small align-middle" style="background: #008100C0">{{ team.rank_change|stringformat:"+d"|slice:"1:" }}</td>
		{% elif team.rank_change > 0%}
			<td class="text-white py-0 small align-middle" style="background: #DF0000D0">{{ team.rank_change }}</td>
		{% else %}
			<td class="py-0 small px-1 align-middle">-</td>
		{% endif %}
		<td class="fw-semibold py-0 align-middle small">{{ team.rank }}</td>
		<td class="p-0"><img style="margin: 0;" src="{{ team.flag }}" height="22"></td>
		<td class="text-start py-0 align-middle w-100" >{{ team.name|truncatechars:18 }}</td>
		<td class="text-white py-0 small align-middle" style="background: #4279A8">{{ team.points }}</td>
		{% if team.points_change > 0%}
			<td class="text-white py-0 small align-middle px-1" style="background: #008100C0">+{{ team.points_change }}</td>
		{% elif team.points_change < 0%}
			<td class="text-white py-0 small align-middle px-1" style="background: #DF0000D0">{{ team.points_change }}</td>
		{% endif %}
	</tr>
	{% endfor %}
</table>

<div class="p-0 pe-1 mb-1 mt-3 fw-semibold">
	<div style="font-size: 16px;">TOP 10 BEST MOVERS BY POINTS</div><hr class="my-1 mb-2">
			</div>
            <table class="table bg-light table-striped small table-bordered border-white">
				{% for team in best_teams_by_points %}
				<tr class="bg-secondary-subtle">
					{% if team.rank_change < 0%}
						<td class="text-white py-0 small align-middle" style="background: #008100C0">{{ team.rank_change|stringformat:"+d"|slice:"1:" }}</td>
					{% elif team.rank_change > 0%}
						<td class="text-white py-0 small align-middle" style="background: #DF0000D0">{{ team.rank_change }}</td>
					{% else %}
						<td class="py-0 small px-1 align-middle">-</td>
					{% endif %}
					<td class="fw-semibold py-0 align-middle small">{{ team.rank }}</td>
					<td class="p-0"><img style="margin: 0;" src="{{ team.flag }}" height="22"></td>
					<td class="text-start py-0 align-middle w-100" >{{ team.name|truncatechars:18 }}</td>
					<td class="text-white py-0 small align-middle" style="background: #4279A8">{{ team.points }}</td>
					{% if team.points_change > 0%}
						<td class="text-white py-0 small align-middle px-1" style="background: #008100C0">+{{ team.points_change }}</td>
					{% elif team.points_change < 0%}
						<td class="text-white py-0 small align-middle px-1" style="background: #DF0000D0">{{ team.points_change }}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>

			<div class="p-0 pe-1 mt-3 mb-1 fw-semibold">
				<div style="font-size: 16px;">TOP 10 WORST MOVERS</div><hr class="my-1 mb-2">
						</div>
						<table class="table bg-light table-striped small table-bordered border-white">
							{% for team in worst_teams %}
							<tr class="bg-secondary-subtle">
								{% if team.rank_change < 0%}
									<td class="text-white py-0 small align-middle" style="background: #008100C0">{{ team.rank_change|stringformat:"+d"|slice:"1:" }}</td>
								{% elif team.rank_change > 0%}
									<td class="text-white py-0 small align-middle" style="background: #DF0000D0">{{ team.rank_change }}</td>
								{% else %}
									<td class="py-0 small px-1 align-middle">-</td>
								{% endif %}
								<td class="fw-semibold py-0 align-middle small">{{ team.rank }}</td>
								<td class="p-0"><img style="margin: 0;" src="{{ team.flag }}" height="22"></td>
								<td class="text-start py-0 align-middle w-100" >{{ team.name|truncatechars:18 }}</td>
								<td class="text-white py-0 small align-middle" style="background: #4279A8">{{ team.points }}</td>
								{% if team.points_change > 0%}
									<td class="text-white py-0 small align-middle px-1" style="background: #008100C0">+{{ team.points_change }}</td>
								{% elif team.points_change < 0%}
									<td class="text-white py-0 small align-middle px-1" style="background: #DF0000D0">{{ team.points_change }}</td>
								{% endif %}
							</tr>
							{% endfor %}
						</table>
			
				</div>
			

<div class="p-0 pe-1 mt-3 mb-1 fw-semibold">
	<div style="font-size: 16px;">TOP 10 WORST MOVERS BY POINTS</div><hr class="my-1 mb-2">'
	
			</div>
			<table class="table bg-light table-striped small table-bordered border-white">
				{% for team in worst_teams_by_points %}
				<tr class="bg-secondary-subtle">
					{% if team.rank_change < 0%}
						<td class="text-white py-0 small align-middle" style="background: #008100C0">{{ team.rank_change|stringformat:"+d"|slice:"1:" }}</td>
					{% elif team.rank_change > 0%}
						<td class="text-white py-0 small align-middle" style="background: #DF0000D0">{{ team.rank_change }}</td>
					{% else %}
						<td class="py-0 small px-1 align-middle">-</td>
					{% endif %}
					<td class="fw-semibold py-0 align-middle small">{{ team.rank }}</td>
					<td class="p-0"><img style="margin: 0;" src="{{ team.flag }}" height="22"></td>
					<td class="text-start py-0 align-middle w-100" >{{ team.name|truncatechars:18 }}</td>
					<td class="text-white py-0 small align-middle" style="background: #4279A8">{{ team.points }}</td>
					{% if team.points_change > 0%}
						<td class="text-white py-0 small align-middle px-1" style="background: #008100C0">+{{ team.points_change }}</td>
					{% elif team.points_change < 0%}
						<td class="text-white py-0 small align-middle px-1" style="background: #DF0000D0">{{ team.points_change }}</td>
					{% endif %}
				</tr>
				{% endfor %}
			</table>

    </div>
{% endblock %}